<div>
    <form class="search" (ngSubmit)="searchByOrigingAndDestination()">
        <div class="input">
            <input autocomplete="off" required="true" type="text" name="org" (change)="handleChange($event)" [(ngModel)]="origin">
            <label for="name">Origin</label>
        </div>
        <div class="input">
            <input autocomplete="off" required="true" type="text" name="dest" (change)="handleChange($event)" [(ngModel)]="destination">
            <label for="name">Destination</label>
        </div>
        <div class="space-x-2">
            <button type="reset" class="reset-btn">
                Clear
            </button>
            <button class="shadow__btn" type="submit">
                Go
            </button>
        </div>
    </form>
</div>

<div *ngIf="!isClicked" >
    <div class="flex flex-row justify-center mt-20">
        <button (click)="getFlights()" class="bg-white hover:effect hover:bg-[#a7b7d6] p-3.5 rounded-md">Display Available Flights</button>
    </div>
</div>

<div>
    <div *ngIf="cond">
        <div class="flight-err">
            Cannot find any flight with those resources... try again
        </div>
    </div>
    <div *ngFor="let f of flights" class="flight">
        <div>
            #{{f.flightNumber}}
        </div>
        <div class="font-bold">
            {{f.origin}}
        </div>
        <div class="font-bold">
            {{f.destination}}
        </div>
        <div>
            {{f.departure | date:'full'}}
        </div>
        <div>
            {{f.arrival | date:'full'}}
        </div>
        <div [ngClass]="{'nonstop' : f.nonstop, 'no-nonstop': f.nonstop === false}">
            {{f.nonstop ? 'Nonstop' : 'Direct'}}
        </div>
    </div>
</div>